body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.viewport-header {
position: relative;
flex-direction: column;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}

.nav {
  font-size: 3rem;
  color: #ffffff;
}

h1 {
font-family: 'Sriracha', cursive;
font-size: 5rem;
color: greenyellow;
}

.fish-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.fish {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.img-circle {
  border-radius: 50%;
  object-fit: cover;
  width: 230px;
  height: 230px;
}

.card {
display: flex;
align-items: center;
justify-content: center;
background: rgba(171, 169, 169, 0.85);
height: vh;
width: 300px;
height: 450px;
border-radius: 1rem;
}

.card-form {
display: flex;
align-items: center;
justify-content: center;
background: rgba(171, 169, 169, 0.85);
height: vh;
width: 350px;
height: 550px;
border-radius: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

fieldset {
  margin-bottom: .5rem;
}
button {
  border-radius: 5px;
}

.class1 {
  visibility: hidden;
}